<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>EJS</title>
</head>
<body>
    <% include ../partials/header %>
    <main>
    powered by EJS
    <p>message: <%=message %></p>
</main>
    <% include ../partials/footer %>
</body>
</html>