<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>Token: <%= token.name %></title>
</head>
<body>
    <% include ../partials/header %>
    <main>
        <h2>Token: <%= token.name %></h2>
        <ul>
            <li><%= token.ticker%></li>
            <li><%= token.id%></li>
        </ul>
    
    


    </main>
    <% include ../partials/footer %>
</body>
</html>